@if (this.pokemon === undefined) {
<div class="w-full flex align-items justify-center" id="back-arrow" (click)="goHome()"><img
    src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22white%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20height%3D%2224%22%3E%0A%20%20%3Cpath%20d%3D%22M15%2018l-6-6%206-6%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A"
    alt=""></div>
<div class="w-full flex justify-center items-center h-64">
  <p class="text-4xl text-gray-500">No se ha encontrado ningun pokemon con ese nombre</p>
</div>
} @else {

<div class="w-full flex align-items justify-center" id="back-arrow" (click)="goHome()"><img
    src="data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22white%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20height%3D%2224%22%3E%0A%20%20%3Cpath%20d%3D%22M15%2018l-6-6%206-6%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E%0A"
    alt=""></div>
<div class="pokemon-details max-w-4xl mx-auto mb-12 p-12 rounded-3xl shadow-lg
         bg-gray-50
         text-gray-900
         border border-gray-300
         transition-all duration-300" *ngIf="pokemon">
  <div class="flex flex-col md:flex-row items-center gap-12">
    <!-- Imagen del Pokémon -->
    <div class="flex-col justify-center align-items mb-8 md:mb-0 text-center">
      <button class="bg-black text-white p-2 px-4 rounded-3xl text-2xl" (click)="changeSprites()">Change sprite</button>
      <img [src]="pokemon.sprites?.front_default" [alt]="pokemon.name" class="w-72 h-72 object-contain filter drop-shadow-xl rounded-xl
             transition-transform duration-300 hover:scale-110 hover:drop-shadow-2xl" />
    </div>
    <!-- Datos principales -->
    <div class="text-center md:text-left space-y-6">
      <h2 class="text-6xl font-extrabold capitalize tracking-wider text-gray-900
                 border-b-4 border-gray-800 pb-3">
        {{ pokemon.name }}
      </h2>
      <p class="text-3xl"><span class="font-semibold text-gray-800">Height:</span> {{ pokemon.height }}</p>
      <p class="text-3xl"><span class="font-semibold text-gray-800">Weight:</span> {{ pokemon.weight }}</p>
      <p class="text-3xl"><span class="font-semibold text-gray-800">Base Experience:</span> {{ pokemon.base_experience
        }}</p>
    </div>
  </div>

  <!-- Abilities -->
  <div class="mt-14">
    <h3 class="text-4xl font-semibold mb-8 text-center text-gray-900 tracking-wide
               border-t-2 border-gray-400 pt-5">
      Abilities
    </h3>
    <ul class="flex flex-wrap justify-center gap-5">
      <li *ngFor="let ability of pokemon.abilities" class="bg-gray-900 text-gray-100 px-8 py-3 rounded-full text-2xl capitalize
               shadow-lg hover:bg-gray-700 transition duration-300 cursor-pointer select-none">
        {{ ability.ability.name }}
      </li>
    </ul>
  </div>
</div>


}