/* You can add global styles to this file, and also import other style files */

body {
      font-family: "Pixelify Sans", sans-serif;
background-color: rgb(30, 30, 33);
color: #f0f0f0;

}

.title {
  font-family: "Jersey 20", sans-serif;
}

.search-input {
    color: black;
    border: none;
    min-width: 300px;
    text-decoration: none;
}

.poke-cards {
  max-width: 300px;
  background-color: #2c2c2e; /* gris oscuro neutro */
  border-radius: 12px;
  padding: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  cursor: pointer;
}

.poke-cards:hover {
  background-color: #dcdcdc; 
  color: black;
  transform: scale(1.05); 
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3); 
}


.poke-cards-img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

